body {
    color:antiquewhite;
    background:rgb(151, 0, 0);
    margin: 0px;
}

header{
    border-bottom: solid 2px  rgb(255, 255, 255);
    padding: 10px;
    padding-top: 0%;
    font-size: 32px;
    color: black;

}

section{
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 35px;
}

.categoria-videos{
    display: flex;
    overflow-x:auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.4;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(255, 255, 255);
}

.categoria h2{
    color: rgb(151, 0, 0);;
}
